.root {
    font-family: Arial, Helvetica, sans-serif;
}

#exact-date {
    font-size: 90px;
    font-weight: 400;
    position: relative;
    top: 6px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#month {
    font-size: 30px;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
}

#date-month {
    display: inline-block;
    position: fixed;
    border: hidden;
    border-radius: 40px;
    background-color: rgb(199,231,255);
    height: 177px;
    width: 180.11px;
}

#root-year {
    font-size: 90px;
    position: fixed;
    border: hidden;
    border-radius: 30px;
    background-color: rgb(199,231,255);
    height: 177px;
    width: 400px;
}

#year {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 37px;
}

#hours {
    font-size: 150px;
    font-weight: 900;
    position: fixed;
}

#night-day {
    width: 103px;
    height: 103px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 148.5px;
    top: 37px;
}

#battery-icon {
    width: 30px;
    height: 40px;
}

#shift {
    width: 400px;
    height: 177px;
    border: hidden;
    background-color: rgb(199,231,255);
    border-radius: 40px;
    position: fixed;
}

#minutes {
    font-size: 150px;
    font-weight: 900;
    position: fixed;
}

#others {
    font-size: 30px;
    position: fixed;
    width: 370px;
    height: 152px;
    border: hidden;
    border-radius: 40px;
    background-color: rgb(199,231,255);
    padding-left: 30px;
    padding-top: 25px;
}

#seconds {
    width: fit-content;
    margin: 6px;
}

#day {
    width: fit-content;
    margin: 6px;
}

#root-battery-level {
    width: fit-content;
    height: 40px;
    margin: 6px;
}

#battery-level {
    width: fit-content;
    margin-bottom: 6px;
}

#battery-icon {
    position: relative;
    left: 40px;
    bottom: 43px;
    margin-bottom: 6px;

}

html {
    width: 0px;
    height: 0px;
}