.root {
    font-family: sans-serif;
}

#exact-date {
    font-size: 90px;
    font-weight: 400;
}

#month {
    font-size: 30px;
    transform: translate(8px,-8px);
}

#battery-icon {
    display: inline-block;
    height: 27px;
    width: 15px;
    transform: translate(0px,2px);
}

#date-month {
    border: 1px solid rgb(199,231,255);
    border-radius: 30px;
    display: inline-block;
    background-color: rgb(199,231,255);
    padding-left: 30px;
    padding-right: 30px;
    transform: translate(0px,31.5px);
}

#year {
    display: inline-block;
    font-size: 90px;
    font-weight: 400;
    border: 1px solid rgb(199,231,255);
    border-radius: 30px;
    background-color: rgb(199,231,255);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 17.25px;
    padding-bottom: 17.25px;
    margin-left: 25.5px;
    transform: translate(5px);


}

#night-day {
    width: 75px;
    height: 75px;
    display: inline-block;
}

#first-row {
    display: block;
}

#second-row {
    display: block;
    transform: translate(0px,6px);
}

#hours {
    display: inline-block;
    font-size: 150px;
    font-weight: 900;
}

#shift {
    display: inline-block;
    border: hidden;
    background-color: rgb(199,231,255);
    border-radius: 30px;
    padding-top: 29.25px;
    padding-bottom: 31.5px;
    padding-left: 94.11px;
    padding-right: 94.11px;
    margin: 30px;
    transform: translate(-6px,-20px);
}

#minutes {
    display: inline-block;
    font-size: 150px;
    font-weight: 900;
}

#third-row {
    transform: translate(0px,-45px);
}

#others {
    display: inline-block;
    font-size: 30px;
    margin-left: 25.5px;
    background-color: rgb(199,231,255);
    border: invisible;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 118.98px;
    transform: translate(0px,-5px);
    padding-top: 18.75px;
    padding-bottom: 18.75px;
}

#battery-level {
    display: inline-block;
}